*.ts
!*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# Exclude jsii outdir
dist

# Include .jsii and .jsii.gz
!.jsii
!.jsii.gz

test/
tsconfig.json
architecture.png
tsconfig.original.json
jest.config.js
.eslintrc.js
Config
.eslintignore
build/test/


